.searchModal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    opacity: 0.9;
}

.closeBtn {
    position: relative;
    top: 0;
    right: 0;
    margin-right: 10px;
}