.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.main-img img {
  height: 800px;
}

.accordion {
  padding-bottom: 3%;
}

a {
  text-decoration: none;
  color: black;
}

.footer img {
  width: 3rem;
}

.footer p {
  font-size: .95rem;
  word-break: keep-all;
}